<div class="header">
  <div class="content">
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/topic">Topics</a></li>
      <div *ngIf="isLogged" class="left-side">
        <ul>
          <li><a routerLink="settings">Settings</a></li>
          <li><a (click)="logOut()">Log out</a></li>
        </ul>
      </div>
      <div *ngIf="!isLogged" class="left-side">
        <ul>
          <li><a routerLink="login">Log in</a></li>
          <li><a routerLink="register">Register</a></li>
        </ul>
      </div>
    </ul>
  </div>
</div>
